<form (ngSubmit)="onSubmitForm()" [formGroup]="formPlant">
    <div class="mb-3">
        <label for="input-plant-name" class="form-label">Nom</label>
        <input type="text" formControlName="nom" id="input-plant-name" class="form-control" [ngClass]="{
        'is-invalid':
          formPlant.controls['nom'].touched && formPlant.controls['nom'].invalid
      }" aria-labelledby="invalid-feedback-input-name" />
        <div class="invalid-feedback" id="invalid-feedback-input-name">
            Ce champ est requis
        </div>
    </div>

    <div class="mb-3">
        <label for="select-plant-sun" class="form-label">Ensoleillement</label>
        <select formControlName="soleil" id="select-plant-sun" class="form-control">
            <option value="PEU">Peu</option>
            <option value="MOYEN">Moyen</option>
            <option value="BEAUCOUP">Beaucoup</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="select-plant-watering" class="form-label">Arrosage</label>
        <select formControlName="arrosage" id="select-plant-watering" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="select-plant-category" class="form-label">Catégorie</label>
        <select formControlName="categorie" id="select-plant-category" class="form-control">
            <option value="Plantes Fleuries">Plantes Fleuries</option>
            <option value="Orchidées">Orchidées</option>
            <option value="Cactus et Plantes Grasses">Cactus et Plantes Grasses</option>
            <option value="Bonsaïs">Bonsaïs</option>
            <option value="Plantes Vertes">Plantes Vertes</option>
            <option value="Palmiers d'Intérieur">Palmiers d'Intérieur</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="input-plant-img" class="form-label">Image</label>
        <input type="text" formControlName="image" id="input-plant-img" class="form-control" />
    </div>

    <button class="btn btn-success" [disabled]="formPlant.invalid" type="submit">
        Créer la plante
    </button>
</form>