<div class="d-flex">
  <div class="filter-container d-flex flex-column">
    <app-filter-side-bar [categoriesToDisplay]="categoriesToSend"
      (categoriesToFilter)="filterPlantsByCategories($event)" [sunlightLevelsToDisplay]="sunlightLevelsToSend"
      (sunlightLevelsToFilter)="filterPlantsBySunlightLevels($event)" [wateringToDisplay]="wateringToSend"
      (wateringToFilter)="filterPlantsByWatering($event)"></app-filter-side-bar>
  </div>

  <div class="w-100">
    <div class="container-search-bar">
      <app-search-bar (searchUser)="onSearchUser($event)"></app-search-bar>
    </div>
    <div class="container-plants">
      <app-card-plant class="one-plant" *ngFor="let plantData of plantsToDisplay" [plant]="plantData"
        [plantId]="plantData.id"></app-card-plant>
    </div>
  </div>
</div>