.container-plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem; /* p-4 de bootstrap*/
  padding-top: 0;
}

.container-search-bar {
  padding: 1.5rem; /* p-4 de bootstrap*/
}
